/* global.css */
:root {
	--primary-color: #4a4a4a;
	--primary-dark-color: #3a3a3a;
	--secondary-color: #2a2a2a;
	--secondary-dark-color: #1a1a1a;
	--shadow-color: #1a1a1a;
	--border-color: #9a9a9a;
	--text-color: #cacaca;
	--text-color-2: #eaeaea;
	--text-dark-color: #5a5a5a;
	--accent-color: #0075ff;
	--accent-dark-color: #005cc8;
	--error-color: #ff3333;
}

:root[data-color-scheme='light'] {
	--primary-color: #dadada;
	--primary-dark-color: #cacaca;
	--secondary-color: #eaeaea;
	--secondary-dark-color: #fafafa;
	--shadow-color: #cacaca;
	--border-color: #5a5a5a;
	--text-color: #1a1a1a;
	--text-color-2: #eaeaea;
	--text-dark-color: #9a9a9a;
	--accent-color: #0075ff;
	--accent-dark-color: #005cc8;
	--error-color: #ff3333;
}

* {
	font-family: 'Jura';
	transition:
		background-color 0.2s,
		color 0.2s;
}

html,
body {
	display: contents;
	height: 100%;
	background: linear-gradient(0deg, var(--secondary-dark-color) 0%, var(--secondary-color) 100%);
	background-attachment: fixed;
	margin: 0px;
}

i {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 40;
}

.hamburger {
	box-shadow: none;
}

/* buttons */

button {
	display: flex;
	align-items: center;
	padding: 0.25em;
	background-color: var(--primary-color);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	box-shadow: 0px 4px 4px var(--shadow-color);
	font-size: 1.25em;
	color: var(--text-color);
	cursor: pointer;
}

button:hover {
	background-color: var(--secondary-color);
}

button:active {
	background-color: var(--border-color);
}

.footer-button {
	text-decoration: none;
	margin-left: 0.5em;
}

.footer-button:hover {
	background-color: var(--secondary-color);
}

.save,
.back {
	background-color: var(--accent-color);
	color: var(--text-color-2);
	transition: 0.2s;
}

.save:hover,
.back:hover {
	background-color: var(--accent-dark-color);
}

.footer-button:active,
.save:active {
	background-color: var(--border-color);
}

.add-choice {
	font-size: 1em;
	margin-left: 2.25em;
}

.remove-choice {
	font-size: 1em;
}

.hidden {
	visibility: hidden;
}

.material-symbols-rounded {
	font-size: 1.15em;
}

.add-choice i,
.footer-button i,
.error i,
.save i {
	margin-right: 0.15em;
}

.arrows {
	display: flex;
	flex-flow: column;
	margin-right: 0.5em;
}

.arrows i {
	font-variation-settings: 'wght' 700;
	line-height: 0.7em;
	overflow: hidden;
}

.up {
	border-radius: 5px 5px 0px 0px;
	border-bottom: 0.5px solid var(--border-color);
	padding: 0em 0.25em 0em 0.25em;
}

.down {
	border-radius: 0px 0px 5px 5px;
	border-top: 0.5px solid var(--border-color);
	padding: 0em 0.25em 0em 0.25em;
}

.up:disabled,
.down:disabled {
	background-color: var(--secondary-color);
	color: var(--text-dark-color);
	cursor: not-allowed;
}

/* questions */

.index {
	margin-right: 0.5em;
	width: 1.75em;
	font-weight: bold;
	text-align: right;
	color: var(--text-color);
}

.question {
	margin-bottom: 1.5em;
}

.question-area {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 1em;
	font-size: 1.25em;
	color: var(--text-color);
}

.question-area.display {
	align-items: flex-start;
	font-weight: bold;
	cursor: default;
	width: calc(100% - 2.25em);
}

.question-input {
	font-size: 1em;
}

.question-title {
	flex: 1;
	text-shadow: 0px 4px 4px var(--shadow-color);
	overflow: hidden;
	overflow-wrap: break-word;
}

.details {
	margin-bottom: 0.5em;
	margin-left: 2.25em;
	text-shadow: 0px 4px 4px var(--shadow-color);
	cursor: default;
	overflow-wrap: break-word;
}

/* choices */

.choice-area {
	font-size: 1.25em;
	font-weight: normal;
	color: var(--text-color);
	width: 86%;
}

.choice-area.display {
	width: calc(100% - 2.25em);
}

.choice {
	display: flex;
	align-items: center;
	flex-flow: row;
	margin-bottom: 0.5em;
}

.choice-input[contenteditable]:empty::before {
	content: 'Enter choice...';
	color: var(--text-dark-color);
}

.choice-input.display {
	background-color: var(--primary-color);
	padding: 0.25em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	box-shadow: 0px 4px 4px var(--shadow-color);
	cursor: pointer;
	overflow: hidden;
	overflow-wrap: break-word;
	width: fit-content;
}

.choice-input.display:hover {
	background-color: var(--secondary-color);
}

.choice-input.selected,
.choice-input.selected:hover {
	background-color: var(--secondary-dark-color);
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}

.choice-percentage {
	margin-left: 0.5em;
	font-weight: bold;
	color: var(--accent-color);
	cursor: default;
}

/* input fields */

.limits {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 2.25em);
	margin-right: 2.25em;
}

.limit-input {
	background-color: var(--secondary-dark-color);
	padding: 0.25em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	box-shadow: 0px 4px 4px var(--shadow-color);
	font-size: 1em;
	font-weight: normal;
	color: var(--text-color);
	text-align: center;
	cursor: text;
	overflow: hidden;
	width: 12em;
}

.limit-input::placeholder {
	color: var(--text-dark-color);
}

div[contenteditable] {
	flex: 1;
	background-color: var(--secondary-dark-color);
	padding: 0.25em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	box-shadow: 0px 4px 4px var(--shadow-color);
	font-weight: normal;
	color: var(--text-color);
	cursor: text;
	overflow: hidden;
	margin-right: 0.5em;
}

div[contenteditable]:empty::before {
	color: var(--text-dark-color);
}

/*	pasting text into div[contenteditable] carries over its style */
/*	this eliminates most such cases */
div[contenteditable] * {
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	color: inherit !important;
	background-color: inherit !important;
	border: none !important;
	outline: none !important;
	text-decoration: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	display: inline !important;
	margin: 0 !important;
	padding: 0 !important;
	cursor: inherit !important;
}

/* other */

.radio,
.checkbox,
.rank {
	text-align: right;
	width: 1.75em;
	min-width: 1.75em;
	margin-right: 0.5em;
}

input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
	accent-color: var(--accent-color);
}

.error {
	display: flex;
	align-items: center;
	color: var(--error-color);
	font-weight: bold;
	font-size: 1em;
	text-shadow: 0px 4px 4px var(--shadow-color);
	cursor: default;
	margin: 0.5em 0em 0em 0em;
}

.title {
	flex: 1;
	text-shadow: 0px 4px 4px var(--shadow-color);
	font-size: 1.5em;
	font-weight: bold;
	color: var(--text-color);
	cursor: default;
	max-width: 100%;
	overflow-wrap: break-word;
	overflow: hidden;
}

.slider {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 2.25em);
	margin: 0.5em 2.25em 1em 0em;
}

.range {
	appearance: none;
	width: 100%;
	height: 0.5em;
	border-radius: 0.5em;
	background: var(--border-color);
	outline: none;
	opacity: 1;
}

.range::-webkit-slider-thumb {
	appearance: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 1.5em;
	background: var(--text-color);
	cursor: default;
}

.range::-moz-range-thumb {
	appearance: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 1.5em;
	background: var(--text-color);
	cursor: default;
}

@media screen and (max-width: 767px) {
	.title {
		font-size: 1.25em;
	}

	button,
	select,
	.radio,
	.checkbox,
	.rank,
	.index,
	.question-area,
	.choice-area,
	.details,
	.dropdown {
		font-size: 1em;
	}

	.error {
		font-size: 0.8em;
	}

	.limit-input {
		width: 6em;
	}
}
